<h3>投稿確認</h3>

<%= form_with(model: @twitter, url: twitters_path, local: true) do |form| %>
  <%= form.hidden_field :name %>
  <%= form.hidden_field :content %>

  <p>name:<%= @twitter.name %></p>
  <p>本文:<%= @twitter.content %></p>
  <%= form.submit  "投稿" %>
  
  <%= form_with(model: @twitter, url: new_twitter_path, local: true, method: 'get') do |form| %>
  <%= form.hidden_field :name %>
  <%= form.hidden_field :content %>
  <%= form.submit "もどる" %>
<% end %>