<head>
    <meta charset="UTF-8">
</head>
<h1>Tweet一覧</h1>
<%= link_to '新規投稿', new_twitter_path %>
<% @twitters.each do |twitter| %>
  <table>
  <tr>
    <td><%= twitter.name %></td>
    <td><%= twitter.content %></td>
    <td><%= link_to '詳細', twitter_path(twitter.id) %></td>
    <td><%= link_to "編集", edit_twitter_path(twitter.id) %></td>
    <td><%= link_to '削除', twitter_path(twitter.id), method: :delete %></td>
  </tr>
  </table>
<% end %>